
main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.blog-event {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event {
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.event img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.event h2 {
    margin: 10px 0;
    color: #333;
}

.event p {
    margin-bottom: 15px;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #004080;
    color: #fff;
}
